.heading {
  padding: 40px 0;
  text-align: center;
}
.sign-in {
  padding: 20px 0;
  justify-content: center;
}
.form {
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 2px;
  background-color: #eee;
}
.btn-flat {
  background-color: purple;
  color: white;
}
/* .body {
  background-color: cornflowerblue;
} */

.btn-xxl {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
}

/* .btn {
    // background-color:#5F5E5E ;
    text-align: center;
    color: #fff;
  } */
/* .form {
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 2px;
    background-color: #eee;
  }
  .heading {
    padding: 40px 0;
    text-align: center;
  }
  .sign-in {
    padding: 20px 0;
    justify-content: center;
  }
 */

/* .btn {
    // background-color: #5f5e5e;
    text-align: center;
    color: #fff;
  } */

/* .heading {
    padding: 40px 0;
    text-align: center;
  }
  .sign-in {
    padding: 20px 0;
    justify-content: center;
  }
  .form {
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #eee;
  } */
