.heading {
  padding: 40px 0;
  text-align: center;
}
.sign-in {
  padding: 20px 0;
  justify-content: center;
}
.form {
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 2px;
  background-color: #eee;
}
/* .btn-flat {
  background-color: purple;
  color: white;
}
.container {
  background-image: url('https://www.pexels.com/photo/different-shades-of-green-color-2078266/');
} */
/* .body {
  background-color: cornflowerblue;
} */

/* .body {
  background-image: url('https://www.pexels.com/photo/different-shades-of-green-color-2078266/');
} */
